body {
    padding: 30px;
}

.hoge {
    border: 1px solid #555;
    padding: 30px;
}

.hoge li {
    text-decoration: none;
    padding: 20px 0;
}

.flex {
    display: flex;
}

.album__container {
    padding: 20px;
    border: 1px red solid;
}

.album__mambersContainer--item {
    border: 1px solid #999;
    border-radius: 3px;
    margin: 0 10px;
}

.album__imgsContainer--item {
    width: 50px;
}

.album__imgsContainer--item img {
    width: 100%;
}


